<h1 class="has-text-centered title is-1">Page introuvable</h1>
<h2 class="has-text-centered title is-2">Cliquer sur l'image pour revenir de le monde réel</h2>
<a class="menu-link has-text-centered" href="/">
    <div class="card-image has-text-centered">
        <figure class="image is-128x128	 is-inline-block">
            <img  src="/resources/images/404.jpg" alt="error404">
        </figure>
    </div>
</a>